/*===============Geral===============*/
:root {
  font-size: 62.2%; /* 1rem = 10px*/

  --hue: 290;
  --brand: hsl(var(--hue), 97%, 26%);
  --brand-hover: hsl(var(--hue), 100%, 14%);
  --brand-02: hsl(calc(var(--hue) - 131), 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-02: hsl(calc(var(--hue) + 10), 14%, 97%);

  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 100%);

  --nav-height: 7.2rem;
}
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--brand-light-02);
}
.container {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}
img {
  max-width: 100%;
}
section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}
.button {
  padding: 1.6rem 3.2rem;

  border-radius: 4rem;
  background-color: var(--brand);

  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;

  width: fit-content;

  transition: background 200ms;
}
.button:hover {
  background-color: var(--brand-hover);
}
.socialLinks {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}
/*===============Custom Colors===============*/
#services .card circle {
  fill: var(--brand-light);
}
#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--brand);
}
body.menuExpended #navigation .logo path,
#navigation.scroll .logo path {
  fill: var(--white);
}

#contact li path,
#navigation .container .openMenu path {
  stroke: var(--brand);
}
#navigation.scroll .container .openMenu path {
  stroke: var(--white);
}

/*===============Navegação===============*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

  transition: 300ms;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--brand);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .closeMenu {
  position: fixed;
}
/*===============Menu===============*/
body.menuExpended {
  overflow: hidden;
}

body.menuExpended > :not(#navigation) {
  visibility: hidden;
}

.menu,
.closeMenu,
body.menuExpended .openMenu {
  opacity: 0;
  visibility: hidden;
}
body.menuExpended .menu,
body.menuExpended .closeMenu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-100%);
}

body.menuExpended .menu {
  top: 0;
  left: 0;
  background-color: var(--brand);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu .menuLinks {
  display: flex;
  gap: 4.8rem;
  flex-direction: column;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--white);
}
.menu .menuLinks a {
  color: var(--white);
}

.menu .button {
  background-color: var(--white);
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--brand);

  margin-block: 4.8rem;

  transition: 200ms;
}
.menu .button:hover {
  color: var(--white);
  background-color: var(--brand);

  filter: brightness(1.3);
}
.menu .socialLinks {
  margin-top: 8rem;
}

body.menuExpended .logo,
body.menuExpended button {
  position: relative;
  z-index: 100;
}
body.menuExpended .logo path {
  fill: var(--white);
}
body.menuExpended button path {
  stroke: var(--white);
}

/*===============Home===============*/
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}
#home::before {
  content: '';

  width: 100%;
  height: calc(190% + var(--nav-height));

  background-color: var(--brand-light);

  display: block;

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#home h4 {
  margin-bottom: 1.6rem;
}

#home p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

#home .button {
  margin-inline: auto;
}

#home img {
  margin: 0 auto;

  width: 26.4rem;

  display: block;

  object-position: 0 2rem;
}

.stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-02);

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  gap: 6rem;
  flex-direction: column;
  justify-content: center;
}

.stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
  margin: 0 0 0.4rem;
}
.stat p {
  margin: 0;

  font-size: 1.6rem;
  line-height: 150%;

  color: var(--brand);
}

/*===============Services===============*/
#services h2 {
  margin: 1.6rem 0 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem;

  text-align: left;

  border: solid 0.1rem var(--brand-light);
  border-radius: 0.6rem;
}
#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--headline);
}

/*===============About===============*/

#about {
  padding-block: 10rem;
  background-color: var(--brand-02);
}
#about header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: left;

  margin-bottom: 2.4rem;
}
#about .content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
#about .content p {
  text-align: left;
}

/*===============Contact===============*/
#contact > :not(.content img) {
  text-align: left;
}
#contact header h2 {
  width: 26.3rem;
}

#contact .content ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
}
#contact .content li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#contact .button {
  margin: 3.2rem 0 6rem;
}

/*===============Footer===============*/
footer {
  background-color: var(--brand);
  padding-block: 6rem;
  text-align: left;
}
footer p {
  margin: 2.4rem 0 3.2rem;

  font-size: 1.6rem;
  line-height: 2;
  color: var(--brand-02);
}
footer .socialLinks {
  justify-content: flex-start;
}
/*===============Back to Top===============*/

#backToTopButton {
  position: fixed;
  right: 2.2rem;
  bottom: 1rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(150%);
  transition: 350ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*===============Responsive===============*/
/*Pro Fold*/
@media (max-width: 313px) {
  :root {
    font-size: 50%;
  }
  #home .container img {
    width: 100%;
  }
}
/*Desktop*/
@media (min-width: 1024px) {
  /*===Reset pro Desktop===*/
  nav#navigation .container * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .closeMenu,
  nav#navigation .openMenu,
  nav#navigation .socialLinks {
    display: none;
  }

  /*===Geral===*/
  body {
    overflow: auto;
  }
  .container {
    width: min(112rem, 100%);
    display: grid;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .colA {
    grid-area: A;
  }
  .colB {
    grid-area: B;
  }

  /*===Navigation===*/
  nav#navigation .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
  }
  nav#navigation .menuLinks {
    display: flex;
    gap: 3.2rem;
  }
  nav#navigation .menuLinks a {
    color: var(--brand);
    opacity: 0.7;

    transition: opacity 400ms;
  }
  nav#navigation .menuLinks a:hover,
  nav#navigation .menuLinks a.active {
    font-weight: 700;
    opacity: 1;
  }
  nav#navigation .menuLinks a::after {
    content: '';
    width: 0%;
    height: 2px;

    background-color: var(--brand);

    display: block;

    position: relative;
    bottom: -2rem;
    left: -1.28rem;

    transition: width 300ms;
  }
  nav#navigation .menuLinks a:hover:after,
  nav#navigation .menuLinks a.active:after {
    padding-inline: 1.3rem;
    width: 100%;
  }

  nav#navigation .menu a.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 2.4rem;

    border: 0.1rem solid var(--brand);
    border-radius: 4rem;

    color: var(--brand);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  nav#navigation .menu a.button:hover,
  nav#navigation .menu a.button.active {
    border-color: var(--white);
    background-color: var(--brand);

    color: var(--white);
  }
  nav#navigation.scroll .menuLinks a {
    color: var(--brand-light-02);
    opacity: 0.6;
  }
  nav#navigation.scroll .menuLinks a:hover,
  nav#navigation.scroll .menuLinks a.active {
    font-weight: 700;
    opacity: 1;
  }
  nav#navigation.scroll .menuLinks a::after,
  nav#navigation.scroll .menuLinks.active a::after {
    background-color: var(--white);
  }

  nav#navigation.scroll .menu a.button {
    border-color: var(--white);

    color: var(--white);
  }
  nav#navigation.scroll .menu a.button:hover,
  nav#navigation.scroll .menu a.button.active {
    background-color: var(--brand);
    filter: brightness(1.3);

    color: var(--white);
  }

  /*===Home===*/
  #home::before {
    height: calc(85% - var(--nav-height));
  }
  #home {
    padding-top: var(--nav-height);
  }
  #home .container {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .colA {
    text-align: left;
    align-self: center;
  }
  #home h1 {
    font-size: 5.2rem;
  }
  #home .content p {
    font-size: 1.8rem;
  }
  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  #home .stats {
    grid-area: C;

    padding: 6rem;

    flex-direction: row;
    gap: 0;
  }
  #home .stats .stat {
    flex: 1;
  }

  #home .stats .stat + .stat {
    border-left: 0.1rem solid var(--brand);
  }

  /*===Services===*/
  #services h2 {
    width: 49.7rem;
    margin: 0 auto 6.4rem;
  }
  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }
  /*===About===*/
  #about .container {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6rem;
  }

  #about .colA {
    align-self: center;
  }
  #about header {
    gap: 1rem;
  }
  #about header h4 {
    margin: 0;
  }
  #about header h2 {
    width: 42.3rem;
  }
  #about .content p {
    text-align: left;
  }

  /*===Contact===*/
  #contact .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    gap: 14.1rem;
  }

  #contact header h2 {
    width: 40.4rem;
  }

  #contact .content .button {
    margin: 4rem 0 0 0;
  }

  #contact .container img {
    max-width: 57, 5rem;
  }

  /*===Contact===*/
  footer {
    padding-block: 8rem;
  }
  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    gap: 14.1rem;
    align-items: center;
  }
  footer content p {
    margin: 2.4rem 0 0 0;
  }

  footer .colB {
    justify-self: end;
  }
}
