/*===============Geral===============*/
:root {
  font-size: 62.2%; /* 1rem = 10px*/

  --brand: hsl(170deg 97% 26%);
  --brand-hover: hsl(170, 100%, 14%);
  --brand-02: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --brand-light-02: hsl(180, 14%, 97%);

  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 100%);

  --nav-height: 7.2rem;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: 'DM Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--brand-light-02);
}
.container {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}
img{
  width: 100%;
}
section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;  
  line-height: 150%;  

  color: var(--paragraph);
}

/*===============Navegação===============*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  width: 100vw;
  background-color: var(--brand);
}
nav.scroll .logo path {
  fill: var(--white);
}
nav.scroll button path {
  stroke: var(--white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
/*===============Menu===============*/
body.menuExpended {
  overflow: hidden;
}

body.menuExpended > :not(#navigation) {
  visibility: hidden;
}

.menu,
.closeMenu,
body.menuExpended .openMenu {
  opacity: 0;
  visibility: hidden;
}
body.menuExpended .menu,
body.menuExpended .closeMenu {
  opacity: 1;
  visibility: visible;
}

.menu{
  transform: translateY(-100%);
}

body.menuExpended .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--brand);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: calc(var(--nav-height) + 6rem);

  transition:transform 400ms;
  
  transform: translateY(0);
}

.menu .menuLinks {
  display: flex;
  gap: 4.8rem;
  flex-direction: column;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--white);
}
.menu .menuLinks a {
  color: var(--white);
}

.menu .button {
  background-color: var(--white);
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--brand);

  margin-top: 4.8rem;
}
.menu .socialLinks {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;

  margin-top: 8rem;
}

body.menuExpended .logo,
body.menuExpended button {
  position: relative;
  z-index: 100;
}
body.menuExpended .logo path {
  fill: var(--white);
}
body.menuExpended button path {
  stroke: var(--white);
}

/*===============Home===============*/
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}
#home::before {
  content: '';

  width: 100%;
  height: calc(108rem + var(--nav-height));

  background-color: var(--brand-light);

  display: block;

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#home h4 {
  margin-bottom: 1.6rem;
}

#home p {
  margin-bottom: 3.2rem;
}

#home button {
  background: var(--brand);

  border: none;
  border-radius: 4rem;

  width: 263px;
  height: 52px;

  margin: 0 auto 6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;

  text-transform: uppercase;
}

#home img {
  width: 26.4rem;

  margin: 0 auto;

  display: block;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  padding: 4rem 0;

  background-color: var(--brand-02);

  border: 1px solid var(--brand-light);

  display: flex;
  gap: 6rem;
  flex-direction: column;
  justify-content: center;

  border-radius: 0.6rem;
}

.stat h3 {
  font-size: 4.8rem;
  line-height: 130%;

  margin: 0 0 0.4rem;
}
.stat p {
  margin: 0;

  font-size: 1.6rem;
  line-height: 150%;

  color: var(--brand);
}

/*===============Services===============*/
#services {
  padding-block: 10rem;
}

#services h2 {
  margin: 1.6rem 0 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem;

  text-align: left;

  border: solid 0.1rem var(--brand-light);
  border-radius: 0.6rem;
}
#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--headline);
}

/*===============About===============*/

#about{
  padding-block: 10rem;
  background-color: var(--brand-02);
}
#about header{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: left;

  margin-bottom: 2.4rem;
}
#about .content{
  display: flex;
  flex-direction: column;
  gap: 6rem;

}
#about .content p {
  text-align: left;
}